<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
<!-- =========================================================
	 UKAZKY CONSTRUCTOR INJECTION 
     ========================================================= -->
    <bean id="firstItem" class="di.Item">
        <constructor-arg value="12345"/> <!-- POZOR!!! zavola se konstruktor s parametrem typu String -->
    </bean>
	
    <bean id="secondItem" class="di.Item">
        <constructor-arg value="12345" type="int"/>
    </bean>
	
    <bean id="thirdItem" class="di.Item">
        <constructor-arg value="Položka"/>
        <constructor-arg value="12345" type="int"/>
    </bean>

<!-- =========================================================
	 UKAZKY CONSTRUCTOR INJECTION 
     ========================================================= -->
    <bean id="seterInjItem" class="di.Item">
        <property name="name" value="Setter Injection"/>
        <property name="value" value="321"/>
    </bean>
</beans>
